.aadhi{
    background-color: #FAD3E7;
  }
  .display{
    background: white;
    margin: 45px auto 25px;
    text-align: center;
    width: 50%;
    font-family: 'Bree Serif', serif;
  }
  .dis{
    background-color: #FAD3E7;
  
    margin: 25px auto 25px;
    text-align: center;
    width: 50%;
    font-family: 'Bree Serif', serif;
  }
  